// out: "../../../../Blue/Blue.qss"

//! The above line is for EasyLESS (VSCode extension) compile output location

// -----------------------------------------------------------------------------
// BLUE THEME
// -----------------------------------------------------------------------------

// Theme to inherit/override
@import '../default/default-theme.less';

// Image path relative to where this *.qss is output
@img-url: '../Default/imgs/white';

// COLORS ----------------------------------------------------------------------

@bg-color: #43464d;
@titlebar-text-color-active: rgb(118, 178, 255);
@flipmarker-img: 'flipslider/flipmarker-blue.svg';
