// out: "../../../../Dark/Dark.qss"

//! The above line is for EasyLESS (VSCode extension) compile output location

// -----------------------------------------------------------------------------
// DARK THEME
// -----------------------------------------------------------------------------

// Theme to inherit/override
@import '../default/default-theme.less';

// Image path relative to where this *.qss is output
@img-url: '../Default/imgs/white';

// SETTINGS --------------------------------------------------------------------

// Adjust Contrast (Multiplier)
@dark-contrast:   0.8;
@light-contrast:  1.2;
@border-contrast: 1.0;

// COLORS ----------------------------------------------------------------------

@bg-color: #303030;

// -----------------------------------------------------------------------------
// Context Menu
// -----------------------------------------------------------------------------
@menu-bg-color: @dark-color-2;
@menu-border-color: lighten(@menu-bg-color, 15% * @border-contrast);
@menu-checkbox-border-color-hover: @checkbox-border-color;

// -----------------------------------------------------------------------------
// Button
// -----------------------------------------------------------------------------
@button-border-color: lighten(@button-bg-color, 5% * @border-contrast);

// -----------------------------------------------------------------------------
// Textfield
// -----------------------------------------------------------------------------
@input-border-color: @light-color-1;

// -----------------------------------------------------------------------------
// Checkbox
// -----------------------------------------------------------------------------
@checkbox-border-color: @input-border-color;

// -----------------------------------------------------------------------------
// Sliders
// -----------------------------------------------------------------------------
@slider-groove-img: 'slider/slider-groove-dark.svg';

// -----------------------------------------------------------------------------
// Viewer
// -----------------------------------------------------------------------------
@flipmarker-img: 'flipslider/flipmarker-dark.svg';
@flipslider-img: 'flipslider/flipslider-dark-hc.svg';
@flipslider-base-color: @dark-color-3;

// -----------------------------------------------------------------------------
// Treeview
// -----------------------------------------------------------------------------
@tree-bg-color-alt-row: rgba(255, 255, 255, 0.05);

// -----------------------------------------------------------------------------
// X-Sheet [xsh]
// -----------------------------------------------------------------------------

// SETTINGS --------------------------------------------------------------------

@xsh-color: lighten(@bg-color, 5%);

// -----------------------------------------------------------------------------
// Function Editor [fe]
// -----------------------------------------------------------------------------

// HEADER AREA -----------------------------------------------------------------
@fe-header-border-color: @light-color-3;

// CURVES VIEWER ---------------------------------------------------------------
@fe-panel-bg-color: @xsh-color;
