// out: "../../../../Light/Light.qss"

//! The above line is for EasyLESS (VSCode extension) compile output location

// -----------------------------------------------------------------------------
// LIGHT THEME
// -----------------------------------------------------------------------------

// Theme to inherit/override
@import '../default/default-theme.less';

// Image path relative to where this *.qss is output
@img-url: '../Default/imgs/black';

// SETTINGS --------------------------------------------------------------------

// Adjust Contrast (Multiplier)
@dark-contrast:   1.4;
@light-contrast:  1.2;
@border-contrast: 1.8;

// Adjust Pseudo States (Percentage)
@hover-amount:    15%; // lighten
@pressed-amount:  15%; // darken
@disabled-amount: 40%; // opacity

// Toggles
@bold-titlebar-text: true;
@bold-fxlabel-text:  true;
@bold-label-text:    true;

// COLORS ----------------------------------------------------------------------

@bg-color: #d1d1d1;

// Border
@dock-color: darken(@bg-color, 45%);

// Text
@text-color: black;
@text-color-active: black;

// Highlight
@hl-color: #7098f0;
@hl-text-color: black;

@lock-color: #f07676;
@preview-color: #FCFF53;

// Label
@normal-label-color: #341f88;
@error-label-color: rgba(255, 0, 0, 0.7);
@fx-settings-label-color: @normal-label-color;

// -----------------------------------------------------------------------------
// Menu
// -----------------------------------------------------------------------------
@menu-icon-checked-bg-color: lime;
@menu-checkbox-border-color-hover: @border-color;

// -----------------------------------------------------------------------------
// Button
// -----------------------------------------------------------------------------
@button-bg-color: @dark-color-1;
@button-border-color: @border-color;

// Hover
@button-border-color-hover: @button-border-color;

// Checked
@button-bg-color-checked: @hl-color;
@button-border-color-checked: darken(@button-bg-color-checked, 40%);
@button-text-color-checked: @hl-text-color;

// Focus
@button-border-color-focus: darken(@button-bg-color-focus, 40%);
@button-border-color-focus-hover: @button-border-color-focus;

// Disabled
@button-border-color-disabled: mix(@button-border-color, @bg-color, @disabled-amount);

// Dialog Popup
@popup-dialog-button-frame-bg-color: @bg-color;

// -----------------------------------------------------------------------------
// Tool Button
// -----------------------------------------------------------------------------
@toolbutton-border-color-checked: darken(@toolbutton-bg-color-checked, 40%);
@toolbutton-border-color-checked-hover: @toolbutton-border-color-checked;
@toolbutton-border-color-checked-disabled: darken(@bg-color, 8%);

// -----------------------------------------------------------------------------
// Lockbutton
// -----------------------------------------------------------------------------
@lockbutton-border-color-checked: darken(@lockbutton-bg-color-checked, 40%);
@lockbutton-border-color-checked-hover: @lockbutton-border-color-checked;

// -----------------------------------------------------------------------------
// ComboBox
// -----------------------------------------------------------------------------
@combobox-border-color-focus: black;

// -----------------------------------------------------------------------------
// Textfield
// -----------------------------------------------------------------------------
@input-bg-color: @light-color-2;
@input-border-color: @border-color;
@input-text-color-focus: black;

// Text Selection
@input-selection-text-color: black;
@input-selection-bg-color: fade(@hl-color, 80%);

// -----------------------------------------------------------------------------
// Checkbox
// -----------------------------------------------------------------------------

// Hover
@checkbox-border-color-hover: @checkbox-border-color;

// Checked
@checkbox-bg-color-checked: black;
@checkbox-border-color-checked: @checkbox-bg-color-checked;
@checkbox-border-color-checked-hover: @checkbox-bg-color-checked;

// Checked Hover
@checkbox-bg-color-checked-hover: lighten(@checkbox-bg-color-checked, 40%);

// -----------------------------------------------------------------------------
// Scrollbar
// -----------------------------------------------------------------------------
@sb-bg-color: @bg-color;

// Handle
@sb-handle-bg-color: @dark-color-3;
@sb-handle-bg-color-hover: darken(@sb-handle-bg-color, @hover-amount);
@sb-handle-bg-color-pressed: darken(@sb-handle-bg-color-hover, @pressed-amount);

// -----------------------------------------------------------------------------
// File Browser / Trees / Lists
// -----------------------------------------------------------------------------
@tree-bg-color-alt-row: rgba(0, 0, 0, 0.08);
@tree-item-bg-color-hover: @light-color-1;

// -----------------------------------------------------------------------------
// Sliders
// -----------------------------------------------------------------------------
@slider-groove-color: darken(@bg-color, 40%);
@slider-handle-margin: 0;

// Only for #ViewerFpsSlider (should mimic the slider-handle images)
@slider-handle-bg-color: @dark-color-3;
@slider-handle-border-color: darken(@slider-handle-bg-color, 28%);

// -----------------------------------------------------------------------------
// Titlebars
// -----------------------------------------------------------------------------
// Icon Colors
// Due to the titlebar color the button pressed/active state can be low contrast
// so we should use a high contrast color here, even if it differs from hl-color.
@titlebar-button-pressed-bg-color: white;

// -----------------------------------------------------------------------------
// Flip Slider/Marker
// -----------------------------------------------------------------------------
@flipmarker-img: 'flipslider/flipmarker-light.svg';
@flipslider-img: 'flipslider/flipslider-light.svg';
@flipslider-base-color: @dark-color-2;
@flipslider-notstarted-color: hsl(0, 46%, 64%);
@flipslider-started-color: hsl(117, 43%, 50%);

// -----------------------------------------------------------------------------
// Custom Panels
// -----------------------------------------------------------------------------
@custompanel-scroller-bg-color: rgb(155, 155, 155);
@custompanel-scroller-border-color: rgb(93, 93, 93);

// -----------------------------------------------------------------------------
// Xsheet [xsh]
// -----------------------------------------------------------------------------

// SETTINGS --------------------------------------------------------------------

@xsh-color: @dark-color-1;

// Adjust Contrast (Multiplier)
@xsh-contrast:        1.4;
@xsh-border-contrast: 0.5;

// Toggles
@xsh-mono-icons: true;

// Adjust Cell Colors (Percentage)
@xsh-cell-lighten-amount: 38%;
@xsh-cell-sat-amount:     15%;

// Adjust Cell Drag Border Colors (Percentage)
@xsh-border-darken-amount: -16%;
@xsh-border-sat-amount:     0%;

// Adjust Cell Highlight Colors (Percentage)
@xsh-hl-lighten-amount: @xsh-cell-lighten-amount + 10%;
@xsh-hl-sat-amount:     @xsh-cell-sat-amount + 2%;

// LEVEL COLORS ----------------------------------------------------------------
@xsh-notes-color: #ebebeb;
@xsh-notes-border-color: darken(@xsh-notes-color, 22%);
@xsh-notes-hl-color: lighten(@xsh-notes-color, 20%);

// SEC MARKER LINES ------------------------------------------------------------
@xsh-marker-line-color: rgba(95, 22, 231, 0.5);
@xsh-selected-marker-line-color: rgba(0, 0, 0, 0.5);
@xsh-sec-marker-line-color: rgba(73, 0, 141, 0.743);

// SPREADSHEET CELL AREA -------------------------------------------------------
@xsh-cell-text-color: @text-color;
@xsh-current-cell-border-color: rgb(109, 0, 210);

// FRAMENUMBER AREA ------------------------------------------------------------
@xsh-framenumber-column-text-color: fade(@xsh-cell-text-color, 50%);

@xsh-framenumber-column-range-text-color: rgb(0, 13, 158);
@xsh-framenumber-column-range-bg-color: lighten(@xsh-framenumber-column-bg-color, 8%);

@xsh-framenumber-current-text-color: rgb(255, 255, 255);
@xsh-framenumber-current-bg-color: rgba(255, 113, 113, 0.644);

// COLUMN HEADER AREA ----------------------------------------------------------
@xsh-column-header-border-color: rgb(130, 130, 130);

@xsh-button-preview-bg-on-color: #f0f098;
@xsh-button-camstand-bg-on-color: #ffb99d;

// TIMELINE VIEW ---------------------------------------------------------------
@timeline-column-header-border-color: rgba(0, 0, 0, 0.15);

@timeline-preview-button-bg-on-color: @xsh-button-preview-bg-on-color;
@timeline-table-button-bg-on-color: @xsh-button-camstand-bg-on-color;
@timeline-lock-button-bg-on-color: @xsh-button-lock-bg-on-color;

// -----------------------------------------------------------------------------
// Nodes [node]
// -----------------------------------------------------------------------------

@node-viewer-bg-color: rgb(128, 128, 128);

// SPLINE LINE COLORS ----------------------------------------------------------
@node-link-color: rgb(235, 235, 235);

// KEYFRAME COLORS -------------------------------------------------------------
@keyframe-total-border-color: darken(@keyframe-total-color, 20%);

// -----------------------------------------------------------------------------
// Function Editor [fe]
// -----------------------------------------------------------------------------

// SETTINGS --------------------------------------------------------------------

@fe-text-color: black;

@fe-kf-lighten-amount: 0%;
@fe-kf-sat-amount: 0%;
@fe-kf-border-darken-amount: 40%;
@fe-kf-border-sat-amount: 10%;
@fe-kf-hl-lighten-amount: 50%;
@fe-kf-hl-sat-amount: 30%;

@fe-ib-border-darken-amount: 30%;
@fe-ib-border-sat-amount: 5%;
@fe-ib-hl-lighten-amount: 55%;
@fe-ib-hl-sat-amount: 20%;

// CELL COLORS -----------------------------------------------------------------
@fe-keyframe-color: #f5a255;
@fe-ignored-keyframe-color: #cc5b69;
@fe-inbetween-color: #E2DBCC;
@fe-ignored-inbetween-color: #b99083;

// CURVES VIEWER ---------------------------------------------------------------
@fe-panel-line-color: black; // grid line color
@fe-panel-line-tone: 20%; // strength of grid line color (0 = invisible)

@fe-panel-text-color: @text-color;
@fe-panel-bg-color: @node-viewer-bg-color;
@fe-panel-ruler-bg-color: @dark-color-2;
@fe-panel-curve-color-hover: #ffde24; // when mouse over a curve
