// out: "../../../../Neutral/Neutral.qss"

//! The above line is for EasyLESS (VSCode extension) compile output location

// -----------------------------------------------------------------------------
// NEUTRAL THEME
// -----------------------------------------------------------------------------

// Theme to inherit/override
@import '../default/default-theme.less';

// Image path relative to where this *.qss is output
@img-url: '../Default/imgs/black';

// SETTINGS --------------------------------------------------------------------

// Adjust Contrast (Multiplier)
@dark-contrast:   1.0;
@light-contrast:  1.0;
@border-contrast: 1.4;

// Toggles
@bold-fxlabel-text: true;

// COLORS ----------------------------------------------------------------------

@bg-color: #808080;

// Border
@dock-color: darken(@bg-color, 35% * @border-contrast);

// Text
@text-color: black;
@text-color-active: white;
@text-color-inactive: fade(@text-color, 80%);

// Highlight (tool buttons)
@hl-color: #dddddd;
@hl-text-color: if(lightness(@hl-color) > 45%, rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0.8));

// Highlight (menus) > WinXP Blue
@menu-hl-color: #0A246A;
@menu-hl-text-color: rgb(229, 229, 235);

@lock-color: #ff7e85;
@preview-color: #d2cb67;

// Label
@normal-label-color: rgb(0, 0, 183);
@error-label-color: rgba(255, 0, 0, 0.7);
@fx-settings-label-color: rgb(3, 39, 0);

// Icon Theme Colors
@icon-active-color: @menu-hl-text-color; // menu hover
@icon-on-color: @text-color;

// Individual Icon Colors
//! Just set all to black
@icon-lock-color: @text-color;
@icon-keyframe-color: @text-color;
@icon-keyframe-modified-color: @text-color;
@icon-close-color: @text-color;

// -----------------------------------------------------------------------------
// Tabs
// -----------------------------------------------------------------------------

// Tab
@tab-bg-color: @bg-color;
@tab-text-color: @titlebar-text-color;
@tab-text-color-hover: @tab-text-color;

// Selected
@tab-bg-color-selected: @hl-color;
@tab-text-color-selected: @tab-text-color;

// -----------------------------------------------------------------------------
// Top Menubar / Rooms
// -----------------------------------------------------------------------------
@topbar-bg-color: @light-color-1;

@menubar-item-text-color-selected: @menu-hl-text-color;
@menubar-item-bg-color-selected: @menu-hl-color;

// Rooms
@rooms-tab-bg-color: @bg-color;
@rooms-tab-bg-color-selected: #9EC7A0;

// -----------------------------------------------------------------------------
// Context Menu
// -----------------------------------------------------------------------------
@menu-bg-color: @light-color-1;

// Item

// Hover
@menu-item-bg-color-selected: @menu-hl-color;
@menu-item-text-color-selected: @menu-hl-text-color;
@menu-checkbox-border-color-hover: @menu-checkbox-border-color;

// Checked Icon
@menu-icon-checked-bg-color: cyan;
@menu-icon-checked-border-color: cyan;

// -----------------------------------------------------------------------------
// Button
// -----------------------------------------------------------------------------
@button-text-color-checked: @text-color-active;

@button-border-color: @dark-color-3;
@button-border-color-hover: @button-border-color;
@button-border-color-pressed: darken(@button-border-color, 12%);
@button-border-color-checked: @button-border-color-pressed;
@button-border-color-focus: black;
@button-border-color-focus-hover: @button-border-color-focus;
@button-border-color-disabled: mix(@button-border-color, @bg-color, @disabled-amount);

// -----------------------------------------------------------------------------
// Tool Button
// -----------------------------------------------------------------------------

// Hover
@toolbutton-text-color-hover: white;
@toolbutton-bg-color-hover: @dark-color-3;
@toolbutton-border-color-hover: darken(@toolbutton-bg-color-hover, 15%);

// Pressed
@toolbutton-bg-color-pressed: darken(@toolbutton-bg-color-hover, @pressed-amount);
@toolbutton-text-color-pressed: @toolbutton-text-color-hover;

// Checked
@toolbutton-border-color-checked: @border-color;
@toolbutton-border-color-checked-hover: @toolbutton-border-color-checked;
@toolbutton-border-color-checked-disabled: darken(@bg-color, 8%);

// -----------------------------------------------------------------------------
// Lockbutton
// -----------------------------------------------------------------------------
@lockbutton-border-color-checked: darken(@lockbutton-bg-color-checked, 40% * @border-contrast);
@lockbutton-border-color-checked-hover: @lockbutton-border-color-checked;

// -----------------------------------------------------------------------------
// Textfield
// -----------------------------------------------------------------------------
@input-bg-color: @light-color-4;
@input-border-color: @border-color;
@input-border-color-focus: black;
@input-text-color-focus: black;

@input-selection-text-color: @menu-hl-text-color;
@input-selection-bg-color: @menu-hl-color;

// -----------------------------------------------------------------------------
// Checkbox
// -----------------------------------------------------------------------------
@checkbox-bg-color-checked: black;
@checkbox-border-color-checked: black;
@checkbox-text-color-hover: @text-color;
@checkbox-bg-color-checked-hover: lighten(@checkbox-bg-color-checked, 20%);
@checkbox-border-color-hover: @checkbox-border-color;

// -----------------------------------------------------------------------------
// ComboBox
// -----------------------------------------------------------------------------
@combobox-border-color-focus: black;

// -----------------------------------------------------------------------------
// File Browser / Trees / Lists
// -----------------------------------------------------------------------------

// Lists
@prefs-list-bg-color: @light-color-1;

// Treeviews
@tree-bg-color: @bg-color;
@tree-bg-color-alt-row: rgba(255, 255, 255, 0.1);

@tree-item-bg-color-selected: @menu-hl-color;
@tree-item-text-color-selected: @menu-hl-text-color;

// All Panes
@browser-selected-item-bg-color: @menu-hl-color;
@browser-selected-text-color: @menu-hl-text-color;
@browser-folder-text-color-selected: cyan;
@browser-text-color-selected: @menu-hl-text-color;

// -----------------------------------------------------------------------------
// Viewer
// -----------------------------------------------------------------------------
@flipslider-base-color: @dark-color-1;
@flipslider-notstarted-color: hsl(0, 47%, 38%);
@flipslider-started-color: hsl(118, 50%, 52%);

@viewer-ruler-bg-color: @light-color-1;
@viewer-ruler-scale-color: black;
@viewer-ruler-handle-color: @normal-label-color;

// -----------------------------------------------------------------------------
// Slider
// -----------------------------------------------------------------------------
@slider-groove-color: @dark-color-5;
@slider-handle-margin: 0;

// Only for #ViewerFpsSlider (should mimic the slider-handle images)
@slider-handle-bg-color: @light-color-4;
@slider-handle-border-color: @border-color;

// -----------------------------------------------------------------------------
// Titlebars
// -----------------------------------------------------------------------------

@titlebar-bg-color: @dark-color-1;
@titlebar-text-color: @text-color;
@titlebar-text-color-active: white;

// Icon BG Colors
//! If using titlebar border images, be sure to uncomment this line
// @titlebar-button-off-bg-color: transparent;
@titlebar-button-rollover-bg-color: darken(@titlebar-bg-color, @hover-amount + 6%);

// -----------------------------------------------------------------------------
// Xsheet [xsh]
// -----------------------------------------------------------------------------

// SETTINGS --------------------------------------------------------------------

// Adjust Contrast (Multiplier)
@xsh-border-contrast: 0.45;

// Toggles
@xsh-mono-icons: true;

// Adjust Cell Colors (Percentage)
@xsh-cell-lighten-amount: 26%;
@xsh-cell-sat-amount: 10%;

// Adjust Cell Drag Border Colors (Percentage)
@xsh-border-darken-amount: -3%;
@xsh-border-sat-amount: -4%;

// Adjust Cell Highlight Colors (Percentage)
@xsh-hl-lighten-amount: @xsh-cell-lighten-amount + 12%;
@xsh-hl-sat-amount: @xsh-cell-sat-amount + 8%;

// LEVEL COLORS ----------------------------------------------------------------
@xsh-notes-color: #dadada;
@xsh-notes-border-color: rgb(124, 124, 124);
@xsh-notes-hl-color: lighten(@xsh-notes-color, 15%);

// SEC MARKER LINES ------------------------------------------------------------
@xsh-marker-line-color: hsla(0, 0%, 100%, 0.4);
@xsh-selected-marker-line-color: rgba(255, 255, 255, 0.7);
@xsh-sec-marker-line-color: hsla(0, 0%, 100%, 0.65);
@xsh-current-time-indicator-color: rgb(255, 0, 0);

// SPREADSHEET CELL AREA -------------------------------------------------------
@xsh-empty-column-color: @bg-color;
@xsh-empty-column-range-color: mix(@light-color-1, @bg-color, 50%);

@xsh-cell-text-color: black;

@xsh-current-cell-border-color: rgb(0, 0, 0);

// ONION SKIN AREA -------------------------------------------------------------
@xsh-onionskin-column-bg-color: @bg-color;

// FRAMENUMBER AREA ------------------------------------------------------------
@xsh-framenumber-column-bg-color: @light-color-1;

@xsh-framenumber-column-range-text-color: rgb(0, 4, 255);
@xsh-framenumber-column-range-bg-color: lighten(@xsh-framenumber-column-bg-color, 8%);

@xsh-framenumber-current-text-color: rgb(0, 0, 0);
@xsh-framenumber-current-bg-color: #dfdfdf;

// COLUMN HEADER AREA ----------------------------------------------------------
@xsh-column-header-selected-color: rgba(255, 255, 255, 0.5);

// TIMELINE VIEW ---------------------------------------------------------------
@timeline-preview-button-bg-on-color: @xsh-button-preview-bg-on-color;
@timeline-table-button-bg-on-color: @xsh-button-camstand-bg-on-color;
@timeline-lock-button-bg-on-color: @xsh-button-lock-bg-on-color;

// -----------------------------------------------------------------------------
// Nodes [node]
// -----------------------------------------------------------------------------
// Note: rgb(64, 64, 64) is the default camera bg color, this creates harmony in the UI using it here
@node-viewer-bg-color: rgb(64, 64, 64);

// KEYFRAME COLORS -------------------------------------------------------------
@keyframe-total-color: #e89631;
@keyframe-inbetween-color: #ada37c;

@keyframe-total-border-color: darken(@keyframe-total-color, 36%);
@keyframe-inbetween-border-color: darken(@keyframe-inbetween-color, 36%);
@keyframe-highlight-border-color: darken(@keyframe-highlight-color, 36%);
@keyframe-modified-border-color: darken(@keyframe-modified-color, 36%);

// // FX Settings Panel Only
@keyframe-highlight-color: rgba(255, 255, 255, 0.3);
@keyframe-modified-color: #6cdb3c;

// -----------------------------------------------------------------------------
// Function Editor [fe]
// -----------------------------------------------------------------------------

// SETTINGS --------------------------------------------------------------------

@fe-text-color: black;

@fe-kf-lighten-amount: 10%;
@fe-kf-sat-amount: 10%;
@fe-kf-border-darken-amount: 37%;
@fe-kf-border-sat-amount: 0%;
@fe-kf-hl-lighten-amount: 50%;
@fe-kf-hl-sat-amount: 70%;

@fe-ib-border-darken-amount: 40%;
@fe-ib-border-sat-amount: 0%;
@fe-ib-hl-lighten-amount: 45%;
@fe-ib-hl-sat-amount: 20%;

@fe-current-row-bg-alpha: 80%;

// CELL COLORS -----------------------------------------------------------------
@fe-keyframe-color: #C4833E;
@fe-ignored-keyframe-color: #c64453;
@fe-inbetween-color: #B4B09E;
@fe-ignored-inbetween-color: #b49084;

// CURVES VIEWER ---------------------------------------------------------------
@fe-panel-line-color: rgb(0, 0, 0); // grid line color
@fe-panel-line-tone: 20%; // strength of grid line color (0 = invisible)

@fe-panel-text-color: @text-color;
@fe-panel-bg-color: @dark-color-2;
@fe-panel-ruler-bg-color: @viewer-ruler-bg-color;

@fe-panel-curve-color: rgba(255, 255, 255, 0.6); // all curves color
@fe-panel-curve-color-hover: #3cefff; // when mouse over a curve
@fe-panel-curve-keyframe-color: white; // the keyframe square handle
